
body{

	background-color:#96cb6f ;

}

p,ul{
	font-size: 16pt;
}

ul{
	margin-left: 20%;
	margin-right: 20%;
	list-style-type: square;
}

li{
	list-style-position: outside;
	padding-bottom: 10px;
}

.syntax{
	margin:auto;
}

#paradigm{
	padding-bottom: 0;
}

.innerlist{
	margin-left:1%;
	margin-right: 1%;
}

.textbox{
	margin:auto;
	width: 80%;
	left:0;
	right:0;
	background-color: #bfdfa7;
	padding: 30px;
}


h1{
	margin-left:50px;
}

ul{
	list-style-position: inside;
	text-align: left;
}


header{
	text-align: center;
	color:white;
	text-shadow: 2px 2px 1px Black;
	font-size: 40pt;
	background-color: #6f96cb;
}

.homebutton{
	position:fixed;
	bottom:5%;
	font-size: 16pt;
	align-content: center;
}

#codepage{
	font-size: 12pt;
}

pre{
	margin:auto;
	width: 86%;
	left:0;
	right:0;
}
