
body{

	background-color:#FFF0F5 ;

}

p,ul{
	font-size: 16pt;
}

.textbox{
	margin:auto;
	width: 80%;
	left:0;
	right:0;
	background-color: #FFFAFA;
	padding: 30px;
}

h1{
	margin:50px;
}

ul{
	list-style-position: inside;
	text-align: left;
}


header{
	text-align: center;
	color:white;
	font-size: 40pt;
	background-color: DarkBlue;
}

.homebutton{
	position:fixed;
	bottom:5%;
	font-size: 16pt;
	align-content: center;
}

#codepage{
	font-size: 12pt;
}

pre{
	margin-left: 100px;
}
